@import 'styles/base/icons.scss';
@import 'styles/abstracts/mixins.scss';
@import 'styles/abstracts/variables.scss';

.cards {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: $d-64;
  grid-column-gap: $d-28;
  @include mobile {
    grid-template-columns: repeat(1, 1fr) !important;
    grid-row-gap: $m-33;
  }
}

.card {
  width: 100%;
  margin: 0;
  &-img-link-wrapper {
    display: block;
    width: 100%;
    height: $d-147;
    margin-bottom: $d-28;
    img {
      height: 100%;
      margin-bottom: 0;
    }
    @include mobile {
      height: $m-120;
      margin-bottom: 14px;
    }
  }
  img {
    width: 100%;
    margin-bottom: $d-28;
    object-fit: cover;
  }
  &-title {
    font-size: $fs-27;
    font-weight: $fw-600;
    line-height: $line-height-128;

    //
    white-space: normal;
    a {
      color: #000;
      &:visited {
        color: #000;
      }
    }
    // max-height: 104px;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // display: -webkit-box;
    // -webkit-line-clamp: 3;
    // -webkit-box-orient: vertical;

    @include mobile {
      max-height: 42px;
      font-size: $fs-17;
      line-height: $line-height-128;
      -webkit-line-clamp: 2;
    }
  }
  &-description {
    margin-bottom: $d-12;
    margin-top: $d-12;
    font-family: $open-sans;
    font-size: $fs-16;
    line-height: $line-height-136;
    //
    white-space: normal;
    // max-height: 105px;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // display: -webkit-box;
    // -webkit-line-clamp: 5;
    // -webkit-box-orient: vertical;

    @include mobile {
      margin-bottom: 7px;
      margin-top: 7px;
      font-size: $fs-14;
      line-height: $line-height-136;
      //
      // max-height: 42px;
      // -webkit-line-clamp: 2;
    }
  }
  &-link {
    display: flex;
    align-items: center;
    color: $black;
    font-size: $fs-16;
    font-weight: $fw-600;
    line-height: $line-height-132;

    &:after {
      content: '';
      display: inline-block;
      margin-left: $d-7;
      background-size: contain;
      background-repeat: no-repeat;
      transition: transform 0.3s ease-in-out;
      @include link-arrow;
      @include size($d-16);
      @include mobile {
        @include size($m-14);
      }
    }
    &:hover {
      &:after {
        transform: translate(3px);
      }
    }
    @include mobile {
      font-size: $fs-14;
      line-height: $line-height-132;
    }
  }
}
