.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1110px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  & > .col,
  & > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}
